.App {
  text-align: center;
}

.sources {
  display: flex;
  flex-flow: row wrap;
}

.sources-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0.5rem auto;
}

.sources-section p {
  padding-right: 0.25em;
  font-size: 0.8em;
}

.sources-section a {
  color: black;
  font-size: 0.8em;
}
button {
  background: #b62203;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1.2em;
  margin: 0.5em;
  padding: 0.25em;
  font-family: 'Merienda One', sans-serif;
}

button:hover {
  background: white;
  color: black;
  border: 1px solid #ff1493;
}
